<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
    
    <div class="login-page">
            <div class="form">
              <div v-if="forms.register" class="register-form">
                    register
                    <p v-show="resp.error" style="color:red">{{ resp.msg }}</p>
                    <p v-show="!resp.error" style="color:green">{{ resp.msg }} {{ resp.code }} {{ resp.token }}</p>
                    <hr>
                <input v-model="createData.phone" type="text" placeholder="phone"/>
                <div v-if="forms.activate">
                    <input v-model="createData.code" type="text" placeholder="active code"/>
                    <input v-model="createData.password" type="password" placeholder="password"/>
                    <button @click="resendCode">resend code</button>
                    <p class="message"><a @click="registerForm" href="#"> back to register</a> </p>
                    <hr>
                    <button @click="activate">activate</button>
                    <hr>
                </div>
                <button v-if="!forms.activate" @click="create">create</button>


                <p class="message"><a @click="activateForm" href="#">Activate</a> | <a @click="loginForm" href="#">Login</a></p>
              </div>
              <div v-else class="login-form">
                  login
                  <p v-show="resp.error" style="color:red">{{ resp.msg }}</p>
                  <p v-show="!resp.error" style="color:green"> {{ resp.token }}</p>
                  <hr>
                <input v-model="loginData.phone" type="text" placeholder="phone"/>
                <input v-model="loginData.password" type="password" placeholder="password"/>
                <button @click="login">login</button>
                <p class="message"><a @click="activateForm" href="#">Activate</a> | <a @click="registerForm" href="#">Register</a></p>
              </div>
            </div>
          </div>

        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        new Vue({
            el:"#app",
            data: {
                forms:{
                    register:true,
                    activate:false,
                },
                register:{
                    phone:'',
                    code:'',
                    password:''
                },
                createData:{
                    phone:'',
                    code:'',
                    password:'',
                    div_token:''
                },
                loginData:{
                    phone:'',
                    password:'',
                },
                resp:{
                    error:false,
                    msg:'',
                    code:'',
                    token:''
                    }
            },
            methods:{
                registerForm(e){
                    e.preventDefault()
                    this.forms.register = true
                    this.forms.activate = false
                },
                activateForm(e){
                    e.preventDefault()
                    this.forms.register = true
                    this.forms.activate = true
                },
                loginForm(e){
                    e.preventDefault()
                    this.forms.register = false
                },
                create(){
                    var self = this
                    var div_token = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
                    if(!localStorage.getItem('div_token')){
                        localStorage.setItem('div_token',div_token)
                        this.createData.div_token = div_token
                    }else{
                        this.createData.div_token = localStorage.getItem('div_token')
                    }
                    axios.post('http://127.0.0.1:8000/users/create/',this.createData)
                    .then(function (response) {
                        // console.log(response.data['msg'])
                        // console.log(self.resp.msg)
                        if(response.data['state']){
                            self.resp.msg = response.data['msg']
                            self.resp.code = response.data['code']
                            self.resp.error = false
                        }else{
                            self.resp.error = true
                            self.resp.msg = response.data['msg']
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
                },
                resendCode(){
                    var self = this
                    var div_token = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
                    if(!localStorage.getItem('div_token')){
                        localStorage.setItem('div_token',div_token)
                        this.createData.div_token = div_token
                    }else{
                        this.createData.div_token = localStorage.getItem('div_token')
                    }
                    axios.post('http://127.0.0.1:8000/code/resend/',this.createData)
                    .then(function (response) {
                        // console.log(response.data['msg'])
                        // console.log(self.resp.msg)
                        if(response.data['state']){
                            self.resp.msg = response.data['msg']
                            self.resp.code = response.data['code']
                            self.resp.error = false
                        }else{
                            self.resp.error = true
                            self.resp.msg = response.data['msg']
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
                },
                activate(){
                    var self = this
                    var div_token = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
                    if(!localStorage.getItem('div_token')){
                        localStorage.setItem('div_token',div_token)
                        this.createData.div_token = div_token
                    }else{
                        this.createData.div_token = localStorage.getItem('div_token')
                    }
                    axios.post('http://127.0.0.1:8000/users/activate/',this.createData)
                    .then(function (response) {
                        // console.log(response.data['msg'])
                        // console.log(self.resp.msg)
                        if(response.data['state']){
                            self.resp.msg = response.data['msg']
                            self.resp.code = response.data['code']
                            self.resp.error = false
                        }else{
                            self.resp.error = true
                            self.resp.msg = response.data['msg']
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
                },
                login(){
                    var self = this
                    var div_token = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
                    if(!localStorage.getItem('div_token')){
                        localStorage.setItem('div_token',div_token)
                        this.createData.div_token = div_token
                    }else{
                        this.createData.div_token = localStorage.getItem('div_token')
                    }
                    axios.post('http://127.0.0.1:8000/users/login/',this.loginData)
                    .then(function (response) {
                        // console.log(response.data['msg'])
                        // console.log(self.resp.msg)
                        if(response.data['state']){
                            // self.resp.msg = response.data['msg']
                            self.resp.token = response.data['token']
                            self.resp.error = false
                        }else{
                            self.resp.error = true
                            self.resp.msg = response.data['msg']
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    });
                },
                }
            
        })
    </script>
</body>
</html>